:root {
  --accent-color: #2196f3;
  --primary-title-text: #212121;
  --primary-text-color: #757575;
  --secondary-title-text: #ffffff;
}

body {
  font-family: Roboto, sans-serif, Raleway, sans-serif;
  color: var(--primary-text-color);
}

/* header */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.second-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav-items,
.contact-items {
  list-style: none;
}
.nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-text);
  text-decoration: none;
}

.nav-item-link:focus,
.nav-item-link:hover {
  color: var(--accent-color);
}

.contact-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--accent-color);
}
/* hero */

.hero-title {
  background-color: gray;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-text);
}
.btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-text);
  cursor: pointer;
}

/* advantages */

.advantages-list {
  list-style: none;
}
.advantages-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-text);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* what we really do */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-title-text);
}
.work-list {
  list-style: none;
}
/* our team */
.team-cards {
  list-style: none;
}
.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-title-text);
}
.employee-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* contact us */
.address-list {
  background-color: #2f303a;
  list-style: none;
}
.address-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text);
  text-decoration: none;
}
.tel-link,
.mail-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-link:focus,
.address-link:hover {
  color: var(--accent-color);
}
.tel-link:focus,
.tel-link:hover {
  color: var(--accent-color);
}
.mail-link:focus,
.mail-link:hover {
  color: var(--accent-color);
}
